<section class="ps ps-tabs--steps">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Lorem Ipsum</span>
        <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        <div class="c-tabs" data-tabs>

          <div class="c-tabs__tablist c-tabs__tablist--steps span-1-12" data-tablist hidden>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 1 might be longer than the rest</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 2</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 3</span>
            </button>
            <button class="c-tabs__tab" data-tab>
              <svg width="32" height="32" viewBox="-2 -2 36 36">
                <g fill="none" fill-rule="evenodd">
                  <circle fill="currentColor" stroke="inherit" stroke-width="2" cx="16" cy="16" r="16" />
                  <circle fill="#FFF" stroke="none" class="dot" cx="16" cy="16" r="5" />
                </g>
              </svg>
              <span>Step 4 might be too</span>
            </button>
          </div>

          <section id="UNIQUE_LABEL_1" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="span-1-6">
              <img class="ps__img" src=" {{ path '/img/illustrations/reading-side.png' }}" alt="" width="400"
                height="546" />
            </div>

            <div class="span-8-12">
              <h3 class="text--xl">1. Collect accurate data</h3>
              <p>
                No matter what information is important to your business, get accurate customer and product data in
                real-time across
                mobile, web, and other platforms.
              </p>

              <ul class="ps__features-list" role="list">
                <li>Figma and sketch files</li>
                <li>Auto-updatable styles</li>
                <li>Base elements</li>
                <li>Page layouts</li>
                <li>Accessible components</li>
              </ul>

              <div class="ps-tabs--steps">
                {{ render '@button--secondary' }}
              </div>
            </div>
          </section>

          <section id="UNIQUE_LABEL_2" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="span-1-6">
              <img class="ps__img" src=" {{ path '/img/illustrations/reading-side.png' }}" alt="" width="400"
                height="546" />
            </div>

            <div class="span-8-12">
              <h3 class="text--xl">2. Collect accurate data</h3>
              <p>
                No matter what information is important to your business, get accurate customer and product data in
                real-time across
                mobile, web, and other platforms.
              </p>

              <ul class="ps__features-list" role="list">
                <li>Figma and sketch files</li>
                <li>Auto-updatable styles</li>
                <li>Base elements</li>
                <li>Page layouts</li>
                <li>Accessible components</li>
              </ul>

              <div class="ps-tabs--steps">
                {{ render '@button--secondary' }}
              </div>
            </div>
          </section>

          <section id="UNIQUE_LABEL_3" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="span-1-6">
              <img class="ps__img" src=" {{ path '/img/illustrations/reading-side.png' }}" alt="" width="400"
                height="546" />
            </div>

            <div class="span-8-12">
              <h3 class="text--xl">3. Collect accurate data</h3>
              <p>
                No matter what information is important to your business, get accurate customer and product data in
                real-time across
                mobile, web, and other platforms.
              </p>

              <ul class="ps__features-list" role="list">
                <li>Figma and sketch files</li>
                <li>Auto-updatable styles</li>
                <li>Base elements</li>
                <li>Page layouts</li>
                <li>Accessible components</li>
              </ul>

              <div class="ps-tabs--steps">
                {{ render '@button--secondary' }}
              </div>
            </div>
          </section>

          <section id="UNIQUE_LABEL_4" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="span-1-6">
              <img class="ps__img" src=" {{ path '/img/illustrations/reading-side.png' }}" alt="" width="400"
                height="546" />
            </div>

            <div class="span-8-12">
              <h3 class="text--xl">4. Collect accurate data</h3>
              <p>
                No matter what information is important to your business, get accurate customer and product data in
                real-time across
                mobile, web, and other platforms.
              </p>

              <ul class="ps__features-list" role="list">
                <li>Figma and sketch files</li>
                <li>Auto-updatable styles</li>
                <li>Base elements</li>
                <li>Page layouts</li>
                <li>Accessible components</li>
              </ul>

              <div class="ps-tabs--steps">
                {{ render '@button--secondary' }}
              </div>
            </div>
          </section>

        </div>


        {{!-- <a href="#">some link</a> --}}
      </div>
    </div>
  </div>
</section>