<section class="ps ps--beige ps-customer-logos">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <h2 class="ps__kicker" aria-level="">Customer Logos</h2>
      </header>
    </div>
    <div class="ps__main">
      <ul role="list" class="ps-customer-logos__list">
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-1.svg' }}" alt=""></a></li>
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-2.svg' }}" alt=""></a></li>
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-3.svg' }}" alt=""></a></li>
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-4.svg' }}" alt=""></a></li>
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-5.svg' }}" alt=""></a></li>
        <li class="ps-customer-logos__item"><a href="#"><img src="{{ path '/img/logo-6.svg' }}" alt=""></a></li>
      </ul>
      <a href="#" class="ps-customer-logos__link">View customer stories</a>
    </div>
  </div>
</section>