<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ _target.title }} | UI Pattern Library</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Web Fonts -->
  <link rel="preload" href="/fonts/Inter-upright.var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/Inter-italic.var.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    /* latin */
    @font-face {
      font-family: 'Inter var';
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

      font-weight: 100 900;
      font-display: swap;
      font-style: normal;
      font-named-instance: 'Regular';
      src: url("/fonts/Inter-upright.var.woff2") format("woff2");
    }

    @font-face {
      font-family: 'Inter var';
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

      font-weight: 100 900;
      font-display: swap;
      font-style: italic;
      font-named-instance: 'Italic';
      src: url("/fonts/Inter-italic.var.woff2") format("woff2");
    }

    @font-face {
      font-family: 'Inter';
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

      font-weight: 400;
      font-display: swap;
      font-style: normal;
      src: url("/fonts/Inter-Regular.woff") format("woff"),
        url("/fonts/Inter-Regular.woff2") format("woff2");
    }

    @font-face {
      font-family: 'Inter';
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

      font-weight: 600;
      font-display: swap;
      font-style: normal;
      src: url("/fonts/Inter-Bold.woff") format("woff"),
        url("/fonts/Inter-Bold.woff2") format("woff2");
    }

    @font-face {
      font-family: 'Inter';
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

      font-weight: 400;
      font-display: swap;
      font-style: italic;
      src: url("/fonts/Inter-Italic.woff") format("woff"),
        url("/fonts/Inter-Italic.woff2") format("woff2");
    }
  </style>

  <link rel="stylesheet" href="{{ path '/css/styles.css' }}">

</head>

<body>
  {{{ yield }}}

</body>


<script src="{{ path '/js/focus-visible.js' }}"></script>
<script src="{{ path '/js/css-vars-ponyfill@2.js' }}"></script>
<script src="{{ path '/js/main.js' }}"></script>
<script src="{{ path '/components/raw/{{ _target.component.handle }}/{{ _target.component.handle }}.js' }}"></script>

</html>