<section class="ps ps-alternate ps-alternate--list">
  <div class="ps__wrap">
    {{!-- <div class="ps__head">
            <header class="ps__header">
                <span class="ps__kicker">Features</span>
                <h2 class="ps__title" aria-level="">Choose a Plan</h2>
            </header>
            <div class="ps__desc">
                <p>
                    Choose the plan that works for you and streamline your design process in an unlimited number of
                    projects.
                </p>
            </div>
        </div> --}}
    <div class="ps__main grid grid--12 grid--align-center">
      <div class="span-1-5">
        <div class="ps__img">
          <img class="ps__img" src=" {{ path '/img/illustrations/selfie.png' }}" alt="" width="400" height="546" />
        </div>
      </div>
      <div class="span-7-12">
        <div class="ps__head ps__head--left">
          <header class="ps__header">
            <span class="ps__kicker">Features</span>
            <h2 class="ps__title" aria-level="">List Title</h2>
          </header>
          <div class="ps__desc">
            <p>
              Learn about the thousands of teams around the world that are scaling design with Figma.
            </p>
          </div>
        </div>
        <div class="ps-alternate__modules">
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
        </div>

        <div class="ps-alternate__ctas">
          {{ render '@button--secondary' }}

          {{ render '@button--secondary' }}
        </div>
      </div>

      <div class="span-8-12">
        <div class="ps__img">
          <img class="ps__img" src=" {{ path '/img/illustrations/selfie.png' }}" alt="" width="400" height="546" />
        </div>
      </div>
      <div class="span-1-6">
        <div class="ps__head ps__head--left">
          <header class="ps__header">
            <span class="ps__kicker">Features</span>
            <h2 class="ps__title" aria-level="">List Title</h2>
          </header>
          <div class="ps__desc">
            <p>
              Learn about the thousands of teams around the world that are scaling design with Figma.
            </p>
          </div>
        </div>
        <div class="ps-alternate__modules">

          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>

          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
          <div class="ps-alternate__module">
            <img class="ps-alternate__img" src=" {{ path '/img/alternate-icon.svg' }}" alt="" width="48" height="48" />
            <div class="ps-alternate__module__content">
              <h3 class="ps-alternate__module__title">Femke Van Schoohoven</h3>
              <p>
                Founded by Jieun Yang in 2016, this Korean studio creates clean and clever identities and
                publications that push much-used formats to unexpected...
              </p>
            </div>
          </div>
        </div>

        <div class="ps-alternate__ctas">
          {{ render '@button--secondary' }}

          {{ render '@button--secondary' }}
        </div>
      </div>
    </div>
  </div>
</section>