<section class="ps ps-testimonials">
  <div class="ps__wrap">

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        <div class="c-tabs" data-tabs>

          <div class="c-tabs__tablist c-tabs__tablist--text span-1-12" data-tablist hidden>
            <button class="c-tabs__tab" data-tab>
              Slide 1
            </button>
            <button class="c-tabs__tab" data-tab>
              Slide 2
            </button>
            <button class="c-tabs__tab" data-tab>
              Slide 3
            </button>
            <button class="c-tabs__tab" data-tab>
              Slide 4
            </button>
            <button class="c-tabs__tab" data-tab>
              Slide 5
            </button>
            <button class="c-tabs__tab" data-tab>
              Slide 6
            </button>
          </div>

          <section id="UNIQUE_LABEL_1" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #1</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>
              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>



          <section id="UNIQUE_LABEL_2" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #2</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>

              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>

          <section id="UNIQUE_LABEL_3" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #3</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>

              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>

          <section id="UNIQUE_LABEL_4" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #4</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>

              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>

          <section id="UNIQUE_LABEL_5" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #5</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>

              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>

          <section id="UNIQUE_LABEL_6" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <div class="ps-testimonials__text span-1-6">
              <div class="ps__head ps__head--left">
                <header class="ps__header">
                  <span class="ps__kicker">Testimonial #6</span>
                  <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
                </header>
                <div class="ps__desc">
                  <p>
                    Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
                    maybe
                    even better.
                  </p>
                </div>
              </div>

              <blockquote class="ps-testimonials__quote">
                <p>
                  “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat risus id tristique
                  tincidunt.”
                </p>
                <cite class="ps-testimonials__cite">
                  <img class="ps-testimonials__author-img" src="{{ path '/img/author-img.png' }}" alt="">
                  <div class="ps-testimonials__author">
                    <p class="ps-testimonials__author-name">Femke Van Schoohoven</p>
                    <p class="ps-testimonials__author-title">Creative Director at Netflix</p>
                  </div>
                </cite>
              </blockquote>
            </div>

            <div class="ps-testimonials__img-wrapper span-7-12">
              <img src=" {{ path '/img/illustrations/ice-cream.png' }}" alt="" class="ps-testimonials__img" />
            </div>
          </section>

        </div>


        {{!-- <a href="#">some link</a> --}}
      </div>
    </div>
  </div>
</section>