<section class="ps ps-tabs--text ps-tabs-text--horizontal">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Lorem Ipsum</span>
        <h2 class="ps__title" aria-level="">It's more than a budget manager</h2>
      </header>
      <div class="ps__desc">
        <p>
          Learn about Prismic by reading questions and answers. It’s almost like talking to a human – and
          maybe
          even better.
        </p>
      </div>
    </div>

    <div class="ps__main grid grid--12">
      <div class="span-1-12">
        <div class="c-tabs" data-tabs data-tabs-orientation="horizontal">

          <div class="c-tabs__tablist span-1-12" data-tablist hidden>
            <button class="c-tabs__tab" data-tab>Tab 1 but long</button>
            <button class="c-tabs__tab" data-tab>Tab 2</button>
            <button class="c-tabs__tab" data-tab>Tab 3</button>
            <button class="c-tabs__tab" data-tab>Tab 4</button>
            <button class="c-tabs__tab" data-tab>Tab 5</button>
            <button class="c-tabs__tab" data-tab>Tab 6</button>
          </div>

          <!-- make sure to provide a readable label for each section to be used in the URL hash -->
          <section id="PROVIDE_LABEL_1" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 1</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">1. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">1. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">1. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">1. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>
          <section id="PROVIDE_LABEL_2" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 2</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">2. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">2. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">2. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">2. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>
          <section id="PROVIDE_LABEL_3" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 3</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">3. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">3. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">3. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">3. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>
          <section id="PROVIDE_LABEL_4" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 4</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">4. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">4. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">4. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">4. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>
          <section id="PROVIDE_LABEL_5" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 5</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">5. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">5. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">5. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">5. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>
          <section id="PROVIDE_LABEL_6" class="c-tabs__tabpanel span-1-12" data-tabpanel>
            <h3 class="c-tabs__tabpanel__title">Panel 6</h3>
            <div class="c-tabs__tabpanel__modules">

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">6. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">6. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">6. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>
              <div class="c-tabs__tabpanel__module">
                <img class="c-tabs__tabpanel__module__img" src=" {{ path '/img/features-icon.svg' }}" alt="" width=""
                  height="" />
                <div class="c-tabs__tabpanel__module__content">
                  <h3 class="c-tabs__tabpanel__module__title text--xl">6. Background audio</h3>
                  <p>
                    The app doesn't block your music player. You can open your financial reports while listening.
                    Moreover, you can even pick a soundtrack for each <a href="#">folder</a>.
                  </p>
                </div>
              </div>

            </div>
          </section>

        </div>

        {{!-- <a href="#">some link</a> --}}
      </div>
    </div>
  </div>
</section>