<section class="ps ps-features">
  <div class="ps__wrap">
    <div class="ps__head">
      <header class="ps__header">
        <span class="ps__kicker">Features</span>
        <h2 class="ps__title h1 text--4xl" aria-level="">It’s more than a budget manager</h2>
      </header>
      <div class="ps__desc text--xl">
        <p>
          Learn about the thousands of teams around the world that are scaling design with Figma.

        </p>
      </div>
    </div>

    <div class="ps__main">
      <ol role="list" class="ps__card-list">
        <li class="ps__card-item ps__card-item--full">
          <article>
            <header>
              <img src="{{ path '/img/features-icon.svg' }}" alt="" class="ps__card-item__icon ps__kicker-icon"
                aria-hidden="true">
              <h3 class="ps__card-item__title">Background Audio</h3>
            </header>
            <div class="ps__card-item__content">
              <p>
                The app doesn't block your music player. You can open your financial reports while
                listening. Moreover, you can even pick a soundtrack for each folder.
              </p>
            </div>
            <div class="ps__card-item__cta">
              {{ render '@button--secondary' }}
            </div>
          </article>
        </li>
        <li class="ps__card-item ps__card-item--full">
          <article>
            <header>
              <img src="{{ path '/img/features-icon.svg' }}" alt="" class="ps__card-item__icon ps__kicker-icon"
                aria-hidden="true">
              <h3 class="ps__card-item__title">Background Audio</h3>
            </header>
            <div class="ps__card-item__content">
              <p>
                The app doesn't block your music player. You can open your financial reports while
                listening. Moreover, you can even pick a soundtrack for each folder.
              </p>
            </div>
            <div class="ps__card-item__cta">
              {{ render '@button--secondary' }}
            </div>
          </article>
        </li>
        <li class="ps__card-item ps__card-item--full">
          <article>
            <header>
              <img src="{{ path '/img/features-icon.svg' }}" alt="" class="ps__card-item__icon ps__kicker-icon"
                aria-hidden="true">
              <h3 class="ps__card-item__title">Background Audio</h3>
            </header>
            <div class="ps__card-item__content">
              <p>
                The app doesn't block your music player. You can open your financial reports while
                listening. Moreover, you can even pick a soundtrack for each folder.
              </p>
            </div>
            <div class="ps__card-item__cta">
              {{ render '@button--secondary' }}
            </div>
          </article>
        </li>
      </ol>
    </div>
  </div>
</section>